.Rproj
.Rproj.user
.Rhistory
.RData
.Ruserdata
_R_code/output
*.rds
*.rdata
/notebooks
======

Files for analysis
!/data/BanterModel_McCullough2021.rds
!/data/AcStudy_HI_MI_pred.rds
!/data/banterAllsmall_HICEAS2017-CH5_Filtered-577.rds
